* {
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body{
    min-height: 100vh;
    width: 100%;
    background-color: rgb(250, 250, 250);
    display: flex;
    flex-direction: column;

}

header{
    color:#040405;
    position: fixed;
    top:0;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 64px;
    position: relative;

}

header h1{
    text-transform: uppercase;
    font-size: 1.7em;
    letter-spacing: 1px;
}

.menu{
    display:flex;
}

.menu button{
    display: none;
}

.menu-list{
    list-style: none;
    display: flex;
}

.menu-list li{
    display: inline-block;
    margin-left: 32px;
    font-size: 1.1em;
    cursor: pointer;
    transition: color 0.3s;
}

.menu-list li.active, .menu-list li:hover{
    color: #ff5360;

}

.main{
    flex: 1;
    display: flex;
    align-items: center;
}

.rigth img{
    width: 100%;
}
.left {
    max-width: 45%;
    padding: 40px 64px;
}

.rigth{
    padding: 40px 48px;
}

.title{
color:#ff5360;
font-size: 3.2em;
width: 50%;
font-weight: bold;
letter-spacing:2px;
margin-bottom:48px ;
}

.msg{
    color: #000000;
    font-size: 1.1 em;
    letter-spacing: 0.7px;
    line-height: 32px;
    margin-bottom: 48px;
}

button.cta{
    border:none;
    outline: none;
    background-color: #fffff;
    color: #a45;
    padding: 18px 32px;
    font-weight: bold;
    letter-spacing: 3px;
    text-transform:uppercase ;
    border-radius: 30px;
    box-shadow: 0 20px 35px rgba(0,0,0,0.1),0 15px 12px rgba(0,0,0,0.08);
    cursor: pointer;
    transition: opacity 0.9;

}

button.cta:hover{
opacity: 0.9;
}


/* RESPONSIVE */


@media (max-width:800px){
    header,
    .left,
    .rigth{
        padding-left:40px ;
        padding-right: 40px;
    }
}

@media (max-width:650px){
        .main{
            flex-direction: column;
        }
        .left,
        .rigth{
            width: 100%;
            max-width: 100%;
            padding: 24px;
            display:flex;
            flex-direction: column;
            align-items: center;
        }
        .left * {
            width: 95%;
            margin-bottom: 32px;
            text-align: center;
        }
        button.cta{
            max-width: 60%;
        }
        .rigth img{
            width: 80%;
        } 

        /*menu desplegable responsivo */

        .menu button{
            display: block;
            width:40px;
            height: 40px;
            border: none;
            background:transparent ;
            color:#711def;
            outline:none;
            font-size:1.7em;
            cursor: pointer;
            z-index: 2;


        }
        .menu i.fa-times,
        .menu.opened i.fa-bars{
          display: none;
        }

        .menu.opened i.fa-times,
        .menu i.fa-bars{
        display: block;
        animation: enter 0.8s;
        }

        @keyframes enter{
            0%{opacity: 0;
            }

            100%{
                opacity: 1;
            }
        }



        .menu-list{
            position:fixed;
            top: 0;
            right: 0;
            width: 80%;
            height: 100%;
            background-color: #711def;
            color: #fff;
            padding: 46px;
            flex-direction: column;
            align-items: flex-end;
            padding-top: 80px;
            transform: translateX(100%);
            transition: 0.5s;
        }
        .menu-list li{
            font-size: 1.7em;
            margin: 32px 0px;
        }
<<<<<<< HEAD
=======
        .menu-list a{
            font-size: 1.7em;
            margin: 32px 0px;
        }
>>>>>>> master
        .menu.opened .menu-list{
            transform: translateX(0);
        }
       
        .menu.opened button{
            color: #fff;
        }
 }

